.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 35px 30px 35px;
  gap: 30px;
  align-items: stretch;
  min-width: 340px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  max-width: 350px;
}

#title {
  align-self: center;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-row {
  cursor: pointer;
}
